.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 32vw;
  /* max-width: 20rem;
  min-width: 12.3rem; */
  cursor: pointer;
  z-index: 1;
}
.overlay{
  position: absolute;
  opacity: 0.5;
  height: 153px;
  width: 17vw;
  background-color: transparent;
}

.container:hover .overlay{
  background-color: rgb(167, 167, 167);
}
.container img {
  width: 100%;
  height: 153px;
}

.container h3 {
  margin: 0;
  font-size: 1.07rem;
  margin-bottom: 0.3rem;
}

.container p {
  font-size: 0.7rem;
  margin: 0;
  font-weight: 500;
  color: rgb(107, 107, 107);
  margin-bottom: 0.3rem;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: middle;
}

.rating h6 {
  margin: 0;
  padding-right: 0.5rem;
  color: #b4690e;
  font-size: 0.85rem;
}

.rating p {
  font-size: 0.8rem;
  margin: 0;
  padding-left: 0.2rem;
}

.prices {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 0.6rem;
}

.prices h5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding-right: 0.4rem;
}

.prices s {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 400;
  color: rgb(124, 124, 124);
}
@media (max-width: 650px) {
  .container {
    width: 45vw;
  }
}

@media (min-width: 750px) {
  .container {
    width: 28vw;
  }
}
@media (min-width: 900px) {
  .container {
    width: 22vw;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 17vw;
  }
}


