.container {
    margin-top: 3rem;
    text-align: left;
    padding: 1rem;
}
.container h1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif; 
}
.container p {
    font-size: 1.2rem;
}