.container {
  margin-top: 1rem;
  padding-left: 0.3rem;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  border-top: 1px solid #ccc;
}

.list > li {
  border-bottom: 1px solid #ccc;
}

.item__list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
.item {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 750;
}
.arrow {
  background-image: url("/src/images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  width: 12px;
  aspect-ratio: 1;
  border: none;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.act {
  transform: rotateZ(270deg);
}

.show {
  display: initial;
  margin-bottom: 1rem;
}
.hide {
  display: none;
}

@media (min-width: 48rem) {
  .list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    border-top: none;
  }
  .item {
    border-bottom: none;
    padding: 0;
    padding-right: 0.9rem;
    padding-left: 0;
    color: rgb(124, 124, 124);
    font-size: 1rem;
    font-weight: 750;
    cursor: pointer;
  }
  .arrow {
    display: none;
  }

  .item:hover {
    color: black;
  }

  .active {
    color: black;
  }
  .box {
    display: block;
    margin-top: 1rem;
    border: 1px #ccc solid;
    padding: 2rem;
  }
  .show {
    display: none;
  }
  .list > li {
    border-bottom: none;
  }
}
