.container {
  margin-top: 1rem;
  padding-left: 0.3rem;
}

.container ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
}

.btn {
  padding-right: 0.9rem;
  padding-left: 0;
  color: rgb(124, 124, 124);
  border: none;
  background-color: white;
  font-size: 1rem;
  font-weight: 750;
  cursor: pointer;
}

.btn:hover{
  color: black;
}

.active {
    color : black
}
