.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 22%;
  padding: 1rem;
}

.container img {
  width: 100%;
  height: auto;
}

.container img:hover {
  transform: scale(1.01);
}

.container h5 {
  margin: 0;
  font-size: 1rem;
  align-self: flex-start;
  padding: 0.5rem;
}
