.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.2rem;
}

.container h1 {
  margin: 0;
  font-size: 1.5rem;
  align-self: flex-start;
}
